:root {
  --spacing: 12px;
  --col-count: 3;
  --col-spacing: 2rem;
  --col-width: calc((100% - (var(--col-count) - 1) * var(--col-spacing)) / var(--col-count));

  --color-accent: #FF4100;
  --color-highlight: #F5F4F0;

  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
}

header, main, footer {
  padding: var(--spacing);
}

footer {
  background-color: black;
  color: white;

  .social-media-label {
    font-weight: 300;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
    letter-spacing: initial;
  }

  .social-media a {
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 4px;
    margin-right: 0.25rem;
    background-color: white;
    color: black;
    text-align: center;
  }
}

h2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

h2::after {
  content: "";
  height: 1px;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  display: block;
  background-color: #000;
  margin-left: var(--spacing);
}

/* Projects */

.project-link {
  display: block;
  text-decoration: none;
  color: inherit;
  margin-bottom: calc(var(--spacing) * 3);
}

.project-thumbnail-wrapper {
  position: relative;
  display: block;
}

.project-thumbnail {
  width: 100%;
}

.project-thumbnail-wrapper::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: transparent;
  border-top: 4px solid transparent;
  z-index: 1;
  transition: background-color 0.2s ease-in-out, border-top-color 0.2s ease-in-out;
}

.project-link-arrow {
  margin-left: 0;
  transition: margin-left 0.2s ease-in-out, color 0.2s ease-in-out;
}

.project-label {
  display: block;
  font-size: 1.2rem;
  font-weight: 600;
}

.project-link:hover {
  .project-thumbnail-wrapper::before {
    border-top-color: var(--color-accent);
    background-color: rgba(255, 255, 255, 0.25)
  }

  .project-link-arrow {
    margin-left: 1rem;
    color: var(--color-accent);
  }
}